# In this file I practice python variables, data type, statements, loop and functions

In [2]:
name = "Uttam Kumar"
x = 10
y = 20
print(x + y)

30

In [4]:
#  + - * / % // **
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y) # modulas
print(x // y) #integer division
print(x ** y) # exp x^y

30
-10
200
0.5
10
0
100000000000000000000

In [6]:
# String
first_name = "Uttam" # use double qutation
last_name = 'Kumar' # use single qutation
full_name = first_name + " " + last_name
print(full_name)

Uttam Kumar

### Integer, float, double, complex number, string, boolean, object,

In [7]:
firstNumber = 30 
secondNumber = 31

if firstNumber > secondNumber:
    print(firstNumber + secondNumber)
else:
    print(firstNumber * secondNumber)

930

In [8]:
if firstNumber > secondNumber and firstNumber > 10:
    print(firstNumber + secondNumber)
else:
    print(firstNumber * secondNumber)

930

# conditional operator 
## and, or, not, >, <, >=, <=, ==, !=

In [9]:
age = 20
if age <= 2:
    print('You are an infant baby')
elif age <= 12:
    print("You are a child")
elif age <= 19: 
    print("You are a teen")
elif age <= 35:
    print("You are a young star")
elif age <= 50:
    print("You are a matured man and you should have wife and kids")
else:
    print("You are a national treasure and we love you")

You are a young star

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
for i in range(1,100, 10):
    print(i)

1
11
21
31
41
51
61
71
81
91

In [12]:
while age < 30:
    print("Your are still young")
    age += 1
    if age == 25:
        print("you are 25 years old")
    
print(age)

Your are still young
Your are still young
Your are still young
Your are still young
Your are still young
you are 25 years old
Your are still young
Your are still young
Your are still young
Your are still young
Your are still young
30

In [15]:
number  = [1,2,3,4,5,6,7,8,9,10]
for i in number:
    if i % 2 == 0:
        print(i, "is even")
    else:
        print(i, "is old")

1 is old
2 is even
3 is old
4 is even
5 is old
6 is even
7 is old
8 is even
9 is old
10 is even

In [16]:
number[2]

3

In [17]:
number.sort()
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Functions and Methods

In [20]:
def add(x, y):
    return x + y

result = add(12, 20)
print(result)

32

In [21]:
print(len(number))
print(number[-1])
print(number[1:5])
print(number[:5])
print(number[3:])

10
10
[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9, 10]

In [22]:
print(number)
number.pop(3)
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 5, 6, 7, 8, 9, 10]

In [23]:
print(number.sort(reverse=True))
print(number)

None
[10, 9, 8, 7, 6, 5, 3, 2, 1]

In [24]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9]
joined_list  = list1 + list2
print(joined_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list_2d = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(list_2d)
print(list_2d[0][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
2

In [ ]:
for row in list_2d:
    for col in row:
        print(col, end=' ')
    print() #new line after each row

1 2 3
4 5 6
7 8 9

In [34]:
# Python Tuple, set, dictionary
my_tuple = (1,2,3,4,5,6)
print(my_tuple) # tuple are immutable
print(my_tuple[2]) # access tuple element
print(my_tuple[1:4]) # slicing tuple
myset = {1,2,3,4,5,5,5,5,5,5,6,7,7,7,8,8,9,2,1,2,2,1,2,12,1,2,1,2,12,12,}
print(myset) # set does not support indexing and slicing
myset.add(100) 
print(myset)

(1, 2, 3, 4, 5, 6)
3
(2, 3, 4)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 12}

In [35]:
#dictionary
my_dict = {
    "name" : "Uttam kumar", 
    "skills" : [
        "PHP",
        "Laravel",
        "javascript",
        "vue.js",
        "Python",
        "web development",
        "data science",
        "Ai",
        "ML",
        "database",
        "data analysis",
        "computer science",
    ]
}
print(my_dict)
print(my_dict["name"])
print(my_dict["skills"][4])

{'name': 'Uttam kumar', 'skills': ['PHP', 'Laravel', 'javascript', 'vue.js', 'Python', 'web development', 'data science', 'Ai', 'ML', 'database', 'data analysis', 'computer science']}
Uttam kumar
Python

In [41]:
import math
import datetime

_date = datetime.datetime.now()
print(_date)
print(_date.date())
print(_date.time())
print(_date.month)
print(_date.day)
print(_date.year)
print(_date.weekday())
print(_date.strftime("%Y-%m-%d"))

2025-06-14 00:41:21.510983
2025-06-14
00:41:21.510983
6
14
2025
5
2025-06-14

In [45]:
print(max(number))
print(min(number))
print(abs(-1203))
print(pow(4,4))

10
1
1203
256

In [47]:

num = 1231223.324

print(round(num))
print(math.ceil(num))
print(math.floor(num))

1231223
1231224
1231223